/*header*/

@media screen and (max-width:767px){
    body{
        font-family: 'Raleway', sans-serif;
        line-height: 20px;
        margin:auto auto;
        width: 100%;
        max-width: 412px;
    }

}

html{
box-sizing: border-box;
}
*,
*:before
*:after{
box-sizing: inherit;
}

.title-font{
    font-size: 21px;
    font-weight: 600;
}
.big-font{
    font-size: 16px;
}
.small-font{
    font-size: 15px;
}

header{
width: 100%;
margin:10px auto;
min-height: 10px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: space-between;

}
.logo{
width: 35%;
min-height: 5px;
margin:auto auto;
text-align: right;

}
.logo img{
display: inline-block;
width: 80%;
object-fit: cover;
}

.headnav{

width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;


}  
.headnav p{
width: 50%;
min-height: 5px;
padding: 20px 10px;
border-bottom:2px solid #F2F2F2;
text-align: justify;
text-align: center;
}


a{
width: 100%;
text-decoration: none;
color:black;

}
.headnav p:active,
.headnav p:hover{
border-bottom: 2px solid #0065FC;
   
}
.headnav p a:active,
.headnav p a:hover{
color:#0065FC;
}
body>h1{
    width: 86%;
    margin: auto auto;
    margin-bottom: 10px;
}
body>h2{
    width: 86%;
    font-weight: 400;
    margin:auto auto;
}


.location {
    width: 86%;
    margin:auto auto;
    padding-top:15px;
    display: flex;
    flex-direction: row;
}
.location_normal{
    display: none;
}
.location_mobile{
    display: grid;
    margin-right: 0px;
    float: right;
}
.location>div:first-of-type{
    display: block;
    float:left;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    
}
.location i{
    padding: 16px 16px;
    
}
.location>div:nth-of-type(2){
    display: block;
    width: calc(100% - 98px);
}
.location div input{
    width: 90%;
    font-size: 16px;
    padding: 15px 16px;    
    font-weight: bold;
    outline: none;
    border:none ;
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
}

.location div>i{
    background-color: #F2F2F2;
    font-size: 16px;
    border: 2px solid #F2F2F2;
    border-radius: 10px 0px 0px 10px;
}
.location div button{
    flex:auto;
    padding-left: 1px;
    padding-right: 1px;
    background-color: #0065FC;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #0065FC;
    font-weight: 500;
    color: white
}
.location div button:hover{
    cursor:pointer;
}
.lineFiltre>div:first-of-type{
    width: 100%;
    margin:auto auto;
    padding-top: 20px;
    font-weight:bold;
    
}
.lineFiltre{
    width: 86%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin:auto auto;
    padding-top:15px;
    
}
.filtre{
    margin:10px 10px 0px 0px;
    font-weight:bold;
    align-items: center;
    text-align: center;
    border: 2px solid #F2F2F2;
    border-left:none;
    border-radius:40px;
    display: flex;
    flex-direction: row;
    
}
.filtre div{
    width:max-content;
    padding: 8px 8px;
    padding-left: 10px;
    padding-right: 12px;
}
.filtre:hover{
    color:#0065FC;
}

.filtre i{
    width: 30px;
    line-height: 30px;
    padding: 8px 8px;
    border-radius: 50%;
    color:#0065FC;
    background-color:#DEEBFF;
   
}
.info{
    width: 85%;
    display: flex;
    flex-direction: row;
    margin:auto auto;
    padding-top: 15px;;
}
.info div{
    
    margin:10px 10px 10px 0px;
 
}
.info>div:first-of-type{
    margin-top: 8px;
}
.info div:last-of-type{
    margin-right: 0px;
}
.info div i{
    text-align: center;
    padding: 3px 6px;
    font-size: 12px;
    padding-top:2px;
    border:2px solid #F2F2F2;
    border-radius: 50%;
    color:#0065FC;
       
}
#section1{
    
    margin: auto auto;
    padding-top: 15px;;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}
.left{
    margin-top: 15px;
    width:100%;
    height: 100%;
    
}
.title-left-top{
    width: 86%;
    font-weight:800;
    font-size:20px;
    margin: auto auto;
    margin-top: 15px;
    margin-bottom: 15px;
    
}
.title-left-bottom{
    display: block;
    font-weight:800;
    font-size:17px;
    width: 86%;
    margin:auto auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.hebergement{
    width:100%;
    margin:auto auto;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.hebergement1{
    width:86%;
    margin:auto auto;
    display:flex;
    flex-direction: column;
}
.hebergement2{
    width:86%;
    margin:auto auto;
    display:flex;
    flex-direction: column;
}

.photo{
    
    margin: auto auto;
    margin-top:5px;
    margin-bottom: 5px;
    background-color: white;
    box-shadow: 0px 0px 5px 3px #F2F2F2;
    border-radius: 20px;
}
.photo>div:first-of-type{
    padding: 4px 4px 4px 4px;
}

.photo div img{
    width: 100%;
    height: 112px;
    border-radius: 17px 17px 0px 0px;
    object-fit: cover;

}
.title1{
    font-size: 15px;
    font-weight: bolder;
}
.title2{
    font-size:12px;
}

.info_logement,
.star{
    margin-left: 17px;
   
}

.star{
    color:#0065FC;
    font-size: 10px;
    padding-bottom: 5px;
}
.graystar{
    color:rgb(179, 170, 170);
}

.right{
    margin-top: 15px;
    width:100%;
    height: 100%;
    background-color:#F2F2F2 ;
    
    display: flex;
    flex-direction: column;
    
}
.right>div{
    font-weight:700;
    font-size:20px;
    margin:auto auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 86%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.photo1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.photo1{
    width: 86%;
    height: 135px;
    margin:auto auto;
    margin-bottom:20px;
    background-color: white;
    border-radius: 20px;
    
}


.photo1>div:first-of-type{
    width: 42%;
    
    padding:5px 3% 5px 5px;
}
.photo1>div:last-of-type{
    width: 55%;
    height: 96%;
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    padding:2% 10% 2% 2%;
}
.photo1 div div{
    margin-top: 5px;
    margin-bottom: 5px;
}

.photo1 div img{
    width: 100%;
    height:100%;
    border-radius: 15px 0px 0px 15px;
    object-fit: cover;
}
.star1
{
    font-size: 12px;
    color:#0065FC;
    margin-bottom:10px;
    
}
.bottom{
    width:86%;
    padding-bottom: 30px;
    margin:auto auto;
    margin-top: 15px;
    margin-bottom: 15px;
    display:flex;
    flex-direction: column;
    
}
#activity{
    width: 86%;
    margin: auto auto;
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight:800;
    font-size:20px;
}
.frame1,
.act2,
.act3,
.act4,
.act5{
    box-shadow: 0px 0px 5px 5px #F2F2F2;
    border-radius: 20px;
}
.frame1 img,
.act2 img,
.act3 img,
.act4 img,
.act5 img{
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.frame1 img{
    object-position: 50% 15%;
    width:100%;
    height:140px;
}
.act2 img{
    object-position: 50% 40%;
    width:100%;
    height: 140px;
}

.act3{
    width: 100%;
    
    margin-top: 10px;
    margin-bottom: 10px;
}
.act3 img{
    object-position: 50% 10%;
    width:100%;
    height: 140px;
}

.frame1 h2,
.act2 h2,
.act3 h2,
.act4 h2,
.act5 h2{
    padding-left: 15px;
}
.frame1{
    
    margin-top: 8px;
    margin-bottom: 8px;
}

.frame2{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.act2{
    width: 100%;
    margin-bottom: 10px;
}

.act4 {
    width:100%;
    margin-bottom: 10px;
}
.act5 {
    width:100%;
    margin-top: 10px;
    
}
.act4 img,
.act5 img{
    width:100%;
    height: 140px;
    object-position: 50% 10%;    
}
footer{
    width: 100%;
    height: 100%;
    background-color: #F2F2F2;
    
}
.sectionFooter{
    width: 94%;
    margin:auto auto;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sectionFooter div{
    width: 86%;
    margin:auto auto;

}
.sectionFooter div a{
    font-size: 12px;
    display: block;
    padding-bottom: 10px;
}
.sectionFooter div a:first-of-type{
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
    padding-bottom: 20px;
}

.sectionFooter div a:hover{
    color:#0065FC
}
